@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
</div>
<form method="post" asp-page-handler="download"><button id="download" asp-page-handler="Download" class="btn btn-outline-primary">Download</button></form>
@if (SignInManager.IsSignedIn(User))
{
    <input id="editable" value="false" type="hidden" asp-for="Editable" />
    <form method="post" asp-page-handler="edit"><button id="edit" asp-page-handler="Edit" class="btn btn-outline-primary">Edit</button></form>
}
@if (Model != null && Model.cv != null)
{
    @if (Model.Editable == false)
    {
        <div><p>@Model.cv.Profiel</p></div>
        @foreach (var lijn in Model.cv.Lijnen)
        {
            <p>@lijn</p>
        }
        <h1>Talen</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Taal</th>
                    <th scope="col">Lezen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var taal in Model.cv.Talen)
                {
                    <tr>
                        <td>@taal.Taal</td>
                        <td>@taal.Niveau</td>
                    </tr>
                }
            </tbody>

        </table>

        <h1>Vaardigheden</h1>
        <ul>
            @foreach (var vaardigheid in Model.cv.PersoonlijkeVaardigheden)
            {
                <li>@vaardigheid</li>
            }
        </ul>
        <h1>Computervaardigheden</h1>
        <table class="table">
            <tbody>
                @foreach (var vaardigheid in Model.cv.ComputerVaardigheden)
                {
                    <tr>
                        <td>@vaardigheid.Omschrijving</td>
                        <td>@vaardigheid.Niveau</td>
                    </tr>
                }
            </tbody>
        </table>
        <h1>Werkervaring</h1>
        @foreach (var werkervaring in Model.cv.WerkErvaringen)
        {
            <h5>
                @werkervaring.Functie - @werkervaring.Bedrijf @werkervaring.DatumVan.ToString("MM/yyyy") - @werkervaring.DatumTot.ToString("MM/yyyy")
            </h5>
            @if (werkervaring.Taken != null)
            {
                <ul>
                    @foreach (var taak in werkervaring.Taken)
                    {
                        <li>@taak</li>
                    }
                </ul>
            }
        }
    }
    else
    {
        <h1>Profiel</h1>
        <form method="post" asp-page-handler="Profiel">
            <label for="profiel" asp-for="cv.Profiel">Profiel tekst</label>
            @*<input type="text" id="profiel" asp-for="@Model.cv.Profiel" value="@Model.cv.Profiel" />*@
            <textarea id="profiel" asp-for="cv.Profiel"></textarea>
            <span asp-validation-for="cv.Profiel" class="danger"></span>
            <button type="submit" class="btn btn-outline-primary">Bewaar profiel</button>
        </form>
        @foreach (var lijn in Model.cv.Lijnen)
        {
            <p>@lijn</p>
        }
        <h1>Talen</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Taal</th>
                    <th scope="col">Lezen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var taal in Model.cv.Talen)
                {
                    <tr>
                        <td>@taal.Taal</td>
                        <td>@taal.Niveau</td>
                    </tr>
                }

                <tr>
                </tr>
            </tbody>
            <tfooter>
            </tfooter>
        </table>

        <form method="post" asp-page-handler="Addlanguage" id="frmNieuwtaal">
            <button id="btnNieuwtaal" onclick="setNieuwetaalIngave" type="submit" class="btn btn-outline-primary">Nieuwe taal</button>
            <input type="checkbox" asp-for="Editable" hidden />
            <input type="checkbox" asp-for="AddLanguage" id="addLanguage" name="addLanguage" hidden />
            @if (Model.AddLanguage)
            {
                <td><input type="text" asp-for="Taal.Taal" id="taal" /></td>
                <td><input type="text" asp-for="Taal.Niveau" id="niveau" /></td>
                <input type="checkbox" asp-for="Taal.AddData" id="toevoegen"  checked hidden/>
                <span asp-validation-for="Taal.Taal"></span>
                <span asp-validation-for="Taal.Niveau"></span>
            }
        </form>
        <form method="post" asp-page-handler="AddSkill">
            <h1>Persoonlijke Vaardigheden</h1>
            <ul>
                @foreach (var vaardigheid in Model.cv.PersoonlijkeVaardigheden)
                {
                    <li>@vaardigheid</li>
                }
                <li><input type="text" asp-for="persoonlijkeVaardigheid.Name" /></li>
            </ul>
            <span asp-validation-summary></span>
            <button type="submit" >Vaardigheid toevoegen</button>
        </form>
        <h1>Computervaardigheden</h1>
        <table class="table">
            <tbody>
                @foreach (var vaardigheid in Model.cv.ComputerVaardigheden)
                {
                    <tr>
                        <td>@vaardigheid.Omschrijving</td>
                        <td>@vaardigheid.Niveau</td>
                    </tr>
                }
            </tbody>
            <tfooter>

            </tfooter>
        </table>
        <form method="post" asp-page-handler="Addcomputerskill">
            <button type="submit" class="btn btn-outline-primary">Nieuwe computervaardigheid</button>
            <input type="checkbox" asp-for="Editable" hidden />
            <input type="checkbox" asp-for="AddComputerVaardigheid"  hidden/>
            @if (Model.AddComputerVaardigheid == true)
            {
                <input id="vaardigheidcomputeromschrijving" asp-for="ComputerVaardigheid.Omschrijving" type="text" />
                <input id="vaardigheidcomputerniveau" type="text" asp-for="ComputerVaardigheid.Niveau" />
                <input id="toevoegen" type="checkbox" asp-for="ComputerVaardigheid.AddData" checked />
            }           
        </form>

        <h1>Werkervaring</h1>
        @foreach (var werkervaring in Model.cv.WerkErvaringen)
        {
            <h5>
                <form method="post" asp-page-handler="DeleteWorkExperience">
                    @werkervaring.Functie - @werkervaring.Bedrijf @werkervaring.DatumVan.ToString("MM/yyyy") - @werkervaring.DatumTot.ToString("MM/yyyy")
                    <input id="id" type="hidden" name="id" value="@werkervaring.Id" />
                    <li><button type="submit" class="btn btn-outline-primary">Verwijderen</button></li>
                    <input type="checkbox" asp-for="Editable" hidden />
                </form>
            </h5>
            @if (werkervaring.Taken != null)
            {
                <ul>
                    @foreach (var taak in werkervaring.Taken)
                    {
                        <li>@taak</li>
                        <li>
                            <form asp-page-handler="DeleteWorkExperienceTask" method="post">
                                <input name="taak" type="hidden" value="@taak" />
                                <input name="workexperienceId" type="hidden" value="@werkervaring.Id" />
                                <button type="submit" class="btn btn-outline-primary">-</button>
                                <input type="checkbox" asp-for="Editable" hidden />
                            </form>
                        </li>
                    }
                </ul>
            }
            <form asp-page-handler="AddWorkExperienceTask" method="post">
                <input id="workexperienceTaskId" type="hidden" name="id" value="@werkervaring.Id" />
                <label>Taak<input name="taak" type="text" /></label>
                <button type="submit" class="btn btn-outline-primary">Toevoegen</button>
                <input type="checkbox" asp-for="Editable" hidden />
            </form>
        }
        <form method="post" asp-page-handler="AddWorkExperience">
            <div>
                <label for="bedrijf"><input id="werkervaringbedrijf" type="text" asp-for="WerkErvaring.Bedrijf" /></label>
                <label for="functie"><input id="werkervaringfunctie" type="text" asp-for="WerkErvaring.Functie" />Functie:</label>
                <label for="datumvan"><input id="werkervaringdatumvan" type="date" asp-for="WerkErvaring.DatumVan" />Van:</label>
                <label for="datumtot"><input id="werkervaringdatumtot" type="date" asp-for="WerkErvaring.DatumTot" />Tot:</label>
                <input type="checkbox" asp-for="Editable" hidden />
                <button type="submit" class="btn btn-outline-primary">Toevoegen werkervaring</button>
            </div>
        </form>
    }
}
<script>
    function Edit() {
        var editable = document.getElementById("editable");
        var edit = editable.value
        if (edit == 'false')
            edit = 'true';
        else
            edit = 'false';
        editable.value = edit;
        console.log(`edit button clicked - ${edit}`);
    }
</script>