@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
</div>
@if (SignInManager.IsSignedIn(User))
{
    <input id="editable" value="false" type="hidden" />
    <form method="post" asp-page-handler="edit"><button id="edit" asp-page-handler="Edit">Edit</button></form>
}
@if (Model != null && Model.cv != null)
{
    @if (Model.Editable == false)
    {
        <div><p>@Model.cv.Profiel</p></div>
        @foreach (var lijn in Model.cv.Lijnen)
        {
            <p>@lijn</p>
        }
        <h1>Talen</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Taal</th>
                    <th>Lezen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var taal in Model.cv.Talen)
                {
                    <tr>
                        <td>@taal.Taal</td>
                        <td>@taal.Niveau</td>
                    </tr>
                }
            </tbody>

        </table>

        <h1>Vaardigheden</h1>
        <ul>
            @foreach (var vaardigheid in Model.cv.PersonalSkills)
            {
                @if (vaardigheid.Enabled == true)
                {
                    <li class="skill">
                        @vaardigheid.Name
                    </li>
                }
            }
        </ul>
        <h1>Computervaardigheden</h1>
        <table class="table">
            <tbody>
                @foreach (var vaardigheid in Model.cv.ComputerVaardigheden)
                {
                    <tr>
                        <td>@vaardigheid.Omschrijving</td>
                        <td>@vaardigheid.Niveau</td>
                    </tr>
                }
            </tbody>
        </table>
        <h1>Werkervaring</h1>
        @foreach (var werkervaring in Model.cv.WerkErvaringen)
        {
            <h5>
                @werkervaring.Functie - @werkervaring.Bedrijf @werkervaring.DatumVan.ToString("MM/yyyy") - @werkervaring.DatumTot.ToString("MM/yyyy")
            </h5>
            @if (werkervaring.Taken != null)
            {
                <ul>
                    @foreach (var taak in werkervaring.Taken)
                    {
                        <li>@taak</li>
                    }
                </ul>
            }
        }
    }
    else
    {
        <h1>Profiel</h1>
        <form method="post" asp-page-handler="Profiel">
            <label for="profiel" asp-for="cv.Profiel">Profiel tekst</label>
            @*<input type="text" id="profiel" asp-for="@Model.cv.Profiel" value="@Model.cv.Profiel" />*@
            <textarea id="profiel" asp-for="cv.Profiel"></textarea>
            <button type="submit">Bewaar profiel</button>
        </form>
        @foreach (var lijn in Model.cv.Lijnen)
        {
            <p>@lijn</p>
        }
        <form method="post" asp-page-handler="Addlanguage">
            <h1>Talen</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Taal</th>
                        <th>Lezen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var taal in Model.cv.Talen)
                    {
                        <tr>
                            <td>@taal.Taal</td>
                            <td>@taal.Niveau</td>
                        </tr>
                    }
                    <tr>
                        <td><input type="text" asp-for="Taal.Taal" id="taal" /></td>
                        <td><input type="text" asp-for="Taal.Niveau" id="niveau" /></td>
                    </tr>
                </tbody>
                <tfooter>

                    <button type="submit">Nieuwe taal</button>
                </tfooter>
            </table>
        </form>
        <form method="post" asp-page-handler="AddSkill">
            <h1>Persoonlijke Vaardigheden</h1>
            <div>
                @foreach (var vaardigheid in Model.cv.PersonalSkills.OrderBy(r => r.Name))
                {
                    <div class="row" class="personalskill">
                        <div class="col">
                            @vaardigheid.Name
                        </div>
                        <div class="col">
                            <input type="checkbox" @(vaardigheid.Enabled ? "checked" : "") />
                        </div>
                        <div class="col">
                            <img src="~/Images/delete.png" onclick="RemovePersonalSkill('@vaardigheid.Name',this)" />
                        </div>
                    </div>
                }
            </div>
            <input type="text" asp-for="persoonlijkeVaardigheid.Name" />
            <span asp-validation-summary></span>
            <button type="submit">Vaardigheid toevoegen</button>
        </form>
        <form method="post" asp-page-handler="Addcomputerskill">
            <h1>Computervaardigheden</h1>
            <table class="table">
                <tbody>
                    @foreach (var vaardigheid in Model.cv.ComputerVaardigheden)
                    {
                        <tr>
                            <td>@vaardigheid.Omschrijving</td>
                            <td>@vaardigheid.Niveau</td>
                        </tr>
                    }
                    <tr>
                        <td><input id="vaardigheidcomputeromschrijving" asp-for="ComputerVaardigheid.Omschrijving" type="text" /></td>
                        <td><input id="vaardigheidcomputerniveau" type="text" asp-for="ComputerVaardigheid.Niveau" /></td>
                    </tr>
                </tbody>
                <tfooter>
                    <button type="submit">Nieuwe computervaardigheid</button>
                </tfooter>
            </table>
        </form>

        <h1>Werkervaring</h1>
        @foreach (var werkervaring in Model.cv.WerkErvaringen)
        {
            <h5>
                <form method="post" asp-page-handler="DeleteWorkExperience">
                    @werkervaring.Functie - @werkervaring.Bedrijf @werkervaring.DatumVan.ToString("MM/yyyy") - @werkervaring.DatumTot.ToString("MM/yyyy")
                    <input id="id" type="hidden" name="id" value="@werkervaring.Id" />
                    <li><button type="submit">Verwijderen</button></li>
                </form>
            </h5>
            @if (werkervaring.Taken != null)
            {
                <ul>
                    @foreach (var taak in werkervaring.Taken)
                    {
                        <li>@taak</li>
                        <li>
                            <form asp-page-handler="DeleteWorkExperienceTask" method="post">
                                <input name="taak" type="hidden" value="@taak" />
                                <input name="workexperienceId" type="hidden" value="@werkervaring.Id" />
                                <button type="submit">-</button>
                            </form>
                        </li>
                    }
                </ul>
            }
            <form asp-page-handler="AddWorkExperienceTask" method="post">
                <input id="workexperienceTaskId" type="hidden" name="id" value="@werkervaring.Id" />
                <label>Taak<input name="taak" type="text" /></label>
                <button type="submit">Toevoegen</button>
            </form>
        }
        <form method="post" asp-page-handler="AddWorkExperience">
            <div>
                <label for="bedrijf"><input id="werkervaringbedrijf" type="text" asp-for="WerkErvaring.Bedrijf" /></label>
                <label for="functie"><input id="werkervaringfunctie" type="text" asp-for="WerkErvaring.Functie" />Functie:</label>
                <label for="datumvan"><input id="werkervaringdatumvan" type="date" asp-for="WerkErvaring.DatumVan" />Van:</label>
                <label for="datumtot"><input id="werkervaringdatumtot" type="date" asp-for="WerkErvaring.DatumTot" />Tot:</label>
                <button type="submit">Toevoegen werkervaring</button>
            </div>
        </form>
    }
}
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    var isChecked = this.checked;
                    var vaardigheidnaam = this.closest('.row').querySelector('.col:first-child').innerText.trim();
                    var verificationToken = document.querySelector('input[name="__RequestVerificationToken"]').value
                    // send AJAX request to update the database
                    fetch('/?handler=UpdatePersonalSkill', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'RequestVerificationToken': verificationToken
                        },
                        body: JSON.stringify({ Name: vaardigheidnaam, Enabled: isChecked })
                    });
                });
            });           
        });
        RemovePersonalSkill = function (value , element) {
            console.log('vaardigheid');
            console.log(value);
            console.log(element);
            var verificationToken = document.querySelector('input[name="__RequestVerificationToken"]').value
            fetch('/?handler=DeletePersonalSkill', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': verificationToken
                },
                body: JSON.stringify({ Name: value , Enabled: true})
            });            
        }
    </script>
}
